body {
    margin: 0;
}


.notification-banner {
    align-self: start;
    background-color: rgb(143, 42, 231);
    color: azure;
    width: auto;
    text-align: center;
    font-size: 20px;
    grid-area: 1 / 1 / 2 / 13 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    padding: 5px;
}

.main-container {  /* this is for the webpage itself */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100vw;
    height: 100vh;
}

#form-root {    /* this holds the main body and the menu*/
    grid-area: 1 / 1 / -1 / -1 ;
    box-sizing: border-box;
    position: relative;
    z-index: 3;
    height: 100vh;
    width: 100wh;
    border: 5px solid rgba(49, 125, 248, 0.774);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
}

/* #region FormBody */

#form-content-container {
    grid-area: 1 / 1 / -1 / -1;
    display: grid;
    margin: auto;
    box-sizing: border-box;
    border: 1px solid red;
    width: 25em;       /* 400 divided by 16 is 25 */
    height: 37.5em;
    grid-template-columns: 1fr 14fr 1fr;
    grid-template-rows: 1fr 4fr 16fr 1fr;           /* these are contorlling the size of the box*/
}

#form-body {
    grid-area: 1 / 1 / -1 / -1;
    box-sizing: border-box;
    background-color: rgb(239, 239, 239);
}

#submit-body {
    grid-row: -2 / -1;
    grid-column: -2 / -1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    border: 3px solid black;
    background-color: white;

}

#back-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    grid-row: 4 / 5;
    grid-column: 1 / 2;
    border: 3px solid black;
    background-color: white;

}

#close-body {
    grid-row: 1 / 2;
    grid-column: -2 / -1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    border: 3px solid black;
    background-color: white;

}

#question-body {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 4em;
    background-color: none;

}

#option-container {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    border: 3px dashed rgb(108, 108, 108);
    background-color: rgba(255, 255, 255, 0.232);
    margin: 0.65em;
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
}

.option {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    max-height: 25%; /* this will work for now, but it needs to adapt to multiple option numbers*/
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    margin: 10px;
    transform: translateX(0);
    transition: transform 1s;
}

.option:hover {
    background-color: yellow;
    transform: translateX(10px);
}

/* #endregion */

/* #region Editor */

#editor-container {
    grid-area: 1 / 1 / -1 / 2;
    background-color: rgba(208, 233, 255, 0.355);
    min-width: 200px;
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr 13fr;
    gap: 0px;
    justify-content: start;
}

    #editor-header-container {
            grid-area: 1 / 1 / 2 / -1;

            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 30px;
            font-style: italic;
            color: rgb(32, 58, 193);
        }

            #editor-header {
                box-sizing: border-box;
                background-color: rgb(255, 255, 255); 
                border: 3px solid black;
            }

    #editor-page-selector-container {
        grid-area: 2 / 1 / -1 / 2;
        background-color: rgb(39, 39, 39); 
        display: flex;
        flex-direction: column;
    }

        #page-tabs-container {
            background-color: rgb(103, 232, 60); 
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: end;
        }

        .editor-page-tabs {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            text-align: center;

            font-weight: bold;
            font-size: 0.9rem;
            color: rgb(124, 125, 225);
            background-color: rgb(255, 255, 255); 
            width: 30px;
            height: 30px;
            margin-top: 0px;
            border-radius: 10px;
            border: 2px solid rgb(124, 125, 225);
        }

        .active-editor-page-tab {
            background-color: rgb(39, 39, 39);
            color: white;
            height: 40px;
            width: 40px;
            border-top-left-radius: 30%;
            border-bottom-left-radius: 30%;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        #page-tab-adder {
            margin-left: 20px;
        }

    #editor-page-container {
        grid-area: 2 / 2 / -1 / -1;
        background-color: rgb(39, 39, 39); 
        border-top-right-radius: 15px ;
        border-bottom-right-radius: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

        #editor-page-header {
            background-color: rgb(252, 110, 110);
            border-top-right-radius: inherit;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        #editor-question-input-container {
            background-color: rgb(248, 255, 37);
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            gap: 15px;
        }

            .question-input-containers {
                flex-shrink: 4;
                background-color: rgb(227, 207, 54);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: rgb(255, 255, 255);
                font-weight: bolder;
                border-bottom: 2px solid rgb(243, 255, 107);
                margin: 0px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .question-inputs {
                box-sizing: border-box;
                border: 2px solid rgb(255, 254, 169);
                border-radius: 20px;
                height: 40px;
                min-width: 70px;
                margin: 5px;
            }

        #editor-option-input-container {
            background-color: rgb(149, 54, 227);
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            gap: 15px;
        }

            .option-input-containers {
                flex-shrink: 4;
                background-color: rgb(106, 44, 214);
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: rgb(255, 255, 255);
                font-weight: bolder;
                border-bottom: 2px solid rgb(154, 107, 255);
                margin: 0px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .option-inputs {
                box-sizing: border-box;
                border: 2px solid rgb(228, 169, 255);
                border-radius: 20px;
                height: 40px;
                min-width: 70px;
                margin: 5px;
                outline: 15px solid rgb(106, 44, 214);
                outline-offset: 0px;
            }
        
        #editor-extras-container {
            background-color: mediumturquoise;
            height: 50px;
            color: white;
            display: flex; /* should this be a grid... probs*/
            flex-direction: column;
        }

            #editor-extras-placeholder {
                background-color: rgb(31, 130, 127);
                height: 200px;
            }

/* #endregion */
